name: Release

on: 
  push:
    branches:
      - 'main'

concurrency: ci-${{ github.workflow }}-${{ github.ref }}
permissions: 
  contents: write
  packages: write
  deployments: write
  
jobs:
  release:
    runs-on: ubuntu-latest
    name: Release

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
      with:
        persist-credentials: false

    - name: Setup node
      uses: actions/setup-node@v3
      with:
        node-version: 16
        cache: yarn

    - name: Install production packages
      run: |
        yarn install --production

    - name: Remove development types
      run: |
        echo "$(cat tsconfig.json | jq '.compilerOptions.types = ["node"]')" > tsconfig.json
        
        echo "Modified 'tsconfig.json':"
        cat tsconfig.json

    - name: Build
      run: |
        yarn build

    - name: Setup SSH release token
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: ${{ secrets.DEPLOY_PRIVATE_KEY }}

    - name: Add production dependencies
      uses: EndBug/add-and-commit@v9
      with: 
        add: 'node_modules --force'
      env: 
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Checkout code
      uses: actions/checkout@v3
      with:
        persist-credentials: false
        fetch-depth: 0

    - name: Setup SSH release token
      uses: webfactory/ssh-agent@v0.5.4
      with:
        ssh-private-key: ${{ secrets.DEPLOY_PRIVATE_KEY }}

    - name: Release
      run: |
        npx --package=@auto-it/git-tag --package=auto -- auto shipit
      env: 
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
