on: 
  pull_request:
    types:
      - assigned
      - closed
      - edited
      - labeled
      - locked
      - opened
      - ready_for_review
      - reopened
      - review_request_removed
      - review_requested
      - synchronize
      - unassigned
      - unlabeled
      - unlocked

concurrency: ci-${{ github.workflow }}-${{ github.ref }}

jobs:
  assign:
    runs-on: ubuntu-latest
    name: Assign Reviewers
    permissions:
      pull-requests: write
      discussions: write

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with: 
          persist-credentials: false

      - name: Setup elevated SSH token
        uses: webfactory/ssh-agent@v0.5.4
        with:
          ssh-private-key: ${{ secrets.DEPLOY_PRIVATE_KEY }}

      - name: Assign reviewers
        uses: ./
        id: assign
        with:
          assign-from-changed-files: true
          reviewers-to-assign: 1
        env: 
          GITHUB_TOKEN: ${{ secrets.REPO_TOKEN }}

      - name: Validate
        uses: actions/github-script@v6
        with: 
          script: |
            const result = JSON.parse('${{ steps.assign.outputs.assigned-codeowners }}')
            
            if (!result || result.count !== 1)
              process.exit(1)
